body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header{
    display: flex;
    gap: 20px;
    padding: 0 30px;
    background: #000;
    color: #FFFFFF;
}

label{
    font-weight: 600;
}

.login{
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0,0,0, 0.25);
    margin: 60px 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
}

#form-desc{
    width: 400px;
    margin: 0 auto;
}

input, textarea, select{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border: 1px solid rgba(0,0,0, 0.25);
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.05);
}

textarea{
    height: 80px;
    resize: none;
}

#login-form div, .submit-btn{
    margin: 30px 0;
    text-align: left;
}

.submit-btn, #create-issue-btn{
    height: 45px;
    color: #ffffff;
    background-color: #1a69c8;
    width: 400px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    /* gap: 20px; */
    
}

#side-nav{
    width: 250px;
    background-color: lightgray;
    float: left;
}

#side-nav ul{
    padding: 0;
}

#side-nav li{
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 5px 10px;
    cursor: pointer;
    font-weight: 700;
}

.container{
    padding: 15px 30px;
}

.issue-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create-issue-btn{
    background-color: #139e4d;
    width: auto;
    height: auto;
    padding: 15px 50px;
    font-size: 20px;
}

.container input, .container textarea, .container select{
    margin: 10px 0;
}

.container select{
    height: 45px;
    width: 406px;
    padding: 5px;
    font-size: 16px;
}

#create-issue-form .submit-btn, #add-user-form .submit-btn{
    margin: 15px 0;
    width: 200px;
}

#create-issue-form div, #add-user-form div{
    margin: 20px 0;
}

.filters{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.btns{
    display: flex;
    gap: 30px;
    margin-left: 40px;
}

.filter-btn{
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.active{
    background-color: #1a69c8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 45px;
    padding: 0 50px;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

thead{
    background-color: rgba(0,0,0, 0.1);
    height: 45px;
}

tbody tr{
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

th{
    font-size: 18px;
}

tr, td, th{
    padding: 10px;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
}

.status h3{
    margin: 0;
    padding: 8px;
    width: fit-content;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.OPEN h3{ 
    background-color: rgb(45,165,98);
}

.CLOSED h3{
    background-color: #FF5400;
}

.IN-PROGRESS h3{
    background-color: rgb(255,219,77);
    color: #000;
}


/* Css for issue report*/
.flexbox-container{
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box1 h1{
  font-size:  55px;
  margin: 0;
}

#edt{
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.grid-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

.box1{
  grid-column:1/3;
}


.box2{
  margin-left: 0px ;
  margin-right: 100px ;
  margin-bottom: 100px;
}

.box3{
  margin-top: 20px;
  width: 230px;
  height: 290px;
  border-radius: 5px;
  border: solid 1px black;
  background: rgb(240,240,240);
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.info{
    padding: 1em;
    padding-bottom: 2em;
}

.info p{
  margin-top: -20px;
  padding-bottom: 10px;
}

.info h3:first-child{
  margin-top: 7px;
}

.box3 button{
  color: white;
  width: 235px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#btn_close{
  background-color: rgb(27,106,201);
}

#btn_progress{
  background-color: rgb(45,165,98);
}

.issue-btn{
    background: none;
    border: none;
    color: #1a69c8;
    font-size: 16px;
}

  
  